<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un nouveau client</title>
</head>
<body>

    <h2>Ajouter un nouveau message</h2>

    <form action="/ajouter_message" method="post">
        <label for="email">Email :</label>
        <input type="text" id="email" name="email" required><br>

        <label for="msg">Message :</label>
        <input type="text" id="msg" name="msg" required><br>

        <input type="submit" value="Ajouter">
    </form>

</body>
</html>